html, body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Arial, serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

header div p {
    font-size: 1.5rem;
    margin: .5rem 0;
}

header a {
    display: flex;
    align-items: center;
}

header button {
    background-color: white;
    outline: 0;
    border: .2rem solid blue;
    transition: .5s;
    border-radius: 5px;
    height: 80%;
}

header button:hover, header button:focus {
    border: .2rem solid red;
    transition: .5s;
    border-radius: 10px;
}

main {
    padding: 2rem;
}

.card {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: .5em;
    margin-bottom: 2rem;
}

.card .card-heading {
    padding: 1rem;
    font-size: 1.5rem;
    margin: 0;
    border-bottom: .1rem solid rgba(0,0,0,0.2);
}

.card .card-body {
    padding: 1rem;
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

th, td {
    border: .1rem solid rgba(0,0,0,0.2);
    padding: .5rem;
    text-align: left;
}

tr {
    transition: .5s;
}

tr:nth-child(even) {
    background: lightgray;
}

tr:nth-child(odd) {
    background: #ececec;
}

tr:hover {
    filter: brightness(95%);
    transition: .5s;
}

th {
    border: .1rem solid rgba(0,0,0,0.5);
    background-color: black;
    color: white;
}

.edit, .delete {
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem;
    transition: .5s;
}

.edit:hover, .delete:hover {
    transition: .5s;
    text-shadow: 0 0 .5rem green;
}

input {
    margin: .3rem 0;
    padding: .2rem;
    outline: 0;
    border: none;
    border-bottom: .1rem solid rgba(0,0,0,0.5);
    transition: 0.5s;
}

input:focus {
    border-bottom: .1rem solid rgba(0,0,0,1);
    transition: .5s;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
    min-width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button {
    outline: 0;
    border-radius: .5rem;
    padding: .3rem;
    border: .15rem solid black;
    transition: .5s;
}

button:hover {
    filter: brightness(80%);
    transition: .5s;
    cursor: pointer;
}

.btn-green {
    border: .15rem solid #00c400;
    background-color: #00f100;
}

#notice {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

#notice div {
    top: 1rem;
    padding: 1rem;
    position: fixed;
    background-color: #75ff8d;
    border: .2rem solid #00d623;
    border-radius: 10px;
    transition: 3s;
    opacity: 0;
}

.autocomplete-dropdown {
    list-style: none;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: fit-content;
    padding: 0;
    margin-left: 4rem;
    margin-top: 0;
}

.autocomplete-dropdown li {
    background-color: white;
    transition: .5s;
    padding: .5rem;
}

.autocomplete-dropdown li:hover {
    background-color: #eeeeee;
    transition: .5s;
}